#titulos_superiores label
{
	position: relative;
	left: 8px;
}

#cantidades_superiores label
{
	position: relative;
	left: 8px;
	top: -10px;
	bottom: 0;
	margin-bottom: -40px;
}

#imagenes_superiores a
{
	position: relative;
	top: 7px;
}

#tabla_ventas h5
{
	position: relative;
	left: 10px;
	font-size: 30px;
}

#campos_facturacion, #campos_ordenes, #campos_ofertas, #campos_back_order
{
	display: none;
}

#Top_Ventas tr
{
	font-size: 10px;
	text-align: left;
	border-spacing: 0;
}



#Top_Ventas_Header th
{
	font-size: 12px;
	text-align: left;
	border-spacing: 0;

}

#Top_Venta_Cliente
{
	font-size: 8px;
	text-align: left;
}