#titulos_superiores label
{
	position: relative;
	left: 8px;
}

#cantidades_superiores label
{
	position: relative;
	left: 8px;
	top: -10px;
	bottom: 0;
	margin-bottom: -40px;
}

#imagenes_superiores button
{
	position: relative;
	top: 7px;
}

#tabla_ventas h4
{
	position: relative;
	left: 20px;
	font-size: 30px;
}