#Nombre_Usuario
{
	color: #F5F5F5;
}
#titulos_superiores label
{
	position: relative;
	left: 8px;
}

#cantidades_superiores label
{
	position: relative;
	left: 8px;
	top: -10px;
	bottom: 0;
	margin-bottom: -40px;
}

#imagenes_superiores a
{
	position: relative;
	top: 7px;
}

#tabla_ventas h5
{
	position: relative;
	left: 10px;
	font-size: 30px;
}

#campos_facturacion, #campos_ordenes, #campos_ofertas, #campos_back_order
{
	display: none;
}

@media only screen and (max-width: 479px)
{
	#Top_Venta_Cliente, #Header_Cliente, #Precio_Top_Venta_Cliente, #Header_Precio, #Row
	{
			display:none!important;
	}
}

#Producto_Top
{
	font-size: 12px;
}

#Titulo_Notificaciones 
{
	position: relative;
	left: 8px;
	top: -10px;
}

#busqueda
{
	color: white;
}

#lista
{
	font-size: 80%;
}